@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.container {
    max-width: 1920px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;

    @media screen and (max-width: 1400px) {
        padding: 0 30px;
    }
}

h1, h2, h3 {
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
}
