section:nth-child(2) {
    position: relative;
    height: 973px;

    .info__card {
        width: 562px;
        padding: 72px 0 230px 205px;
    }

    .para2 {
        position: absolute;
        background: none;
        z-index: 0;
        padding: 335px 27px 105px 25px;
        top: 5%;
        left: 20%;
        width: 510px;
        border: 7px solid #FF8340;

        @media screen and (max-width: 1040px) {
            top: 10%;
            left: 117px;
            padding: 296px 39px 95px 26px;
        }
    }

    .woman {
        position: absolute;
        width: 953px;
        height: 596px;
        right: 105px;
        bottom: 0;

        @media screen and (max-width: 1040px) {
            right: 0;
            width: 598px;
            height: 374px;
        }
    }

    .title2 {
        position: absolute;
        top: 15%;
        left: 10%;
        z-index: 1;
        color: var(--background-3, #292929);
        font-size: 84px;
        font-weight: 900;
        line-height: 90px;

        @media screen and (max-width: 1400px) {
            top: 10%;
        }
    }
}