section:nth-child(3) {
    background: #292929;
    position: relative;
    height: 491px;

    @media screen and (max-width: 1040px) {
        height: 357px;
    }

    .title3 {
        position: absolute;
        top: 10%;
        left: 10%;
        width: 1155px;
        height: 160px;
        color: #FFF;
        font-size: 80px;
        font-style: normal;
        line-height: 160px; /* 200% */
        letter-spacing: 4px;
        text-transform: uppercase;

        @media screen and (max-width: 1600px) {
            font-size: 60px;
            line-height: 110px;
        }

        @media screen and (max-width: 1040px) {
            top: 5%;
            width: 867px;
        }
    }

    .para3 {
        position: absolute;
        color: #FFF;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 2px;
        width: 1400px;
        height: 92px;
        top: 50%;
        left: 10%;

        @media screen and (max-width: 1600px) {
            width: 83%;
            height: 138px;
        }

        @media screen and (max-width: 1040px) {
            bottom: 5%;
            width: 85%;
        }
    }
}