section:nth-child(4) {
    background: #FF8340;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 978px;

    // @media screen and (max-width: 1040px) {
    //     height: 90%;
    // }

    .title4 {
        color: #292929;
        font-size: 45px;
        font-style: normal;
        font-weight: 900;
        line-height: 160px; /* 355.556% */
        letter-spacing: 2.25px;
        text-align: center;
        color: #292929;
    }

    .line {
        background: #292929;
        width: 64px;
        height: 6px;
        margin-bottom: 50px;
    }

    .para4 {
        color: black;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 2px;
        width: 1400px;
        height: 92px;
        margin-bottom: 30px;

        @media screen and (max-width: 1600px) {
            width: 85%;
            margin-bottom: 80px;
        }
    }

    .form__container {
        position: relative;
        height: 60%;

        &-select {
            color: white;
            background-color: #292929;
        }

        &-btn {
            background: none;
            border: none;
            position: absolute;
            font-family: 'Roboto';
            font-size: 20px;
            text-transform: uppercase;
            width: 214px;
            height: 45px;
            padding: 11px 0px;
            justify-content: center;
            align-items: center;
            bottom: 12%;
            right: 1%;
        }
    }

    .input {
        left: 10%;
        width: 680px;
        padding: 18px 0 17px 34px;
        margin: 20px;
        border: 2px solid #CFCFCD;
        font-family: 'Roboto';
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 2px;

        @media screen and (max-width: 1600px) {
            width: 434px;
        }

        @media screen and (max-width: 1040px) {
            width: 370px;
            margin-bottom: 30px;
        }
    }

    .feedback {
        position: absolute;
        left: 1.5%;
        bottom: 25%;
        width: 100%;
        height: 198px;
        border: 2px solid #CFCFCD;
        font-family: 'Roboto';
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 2px;
        right: 5%;

        @media screen and (max-width: 1600px) {
            left: 2%;
            width: 96%;
        }

        @media screen and (max-width: 1040px) {
            width: 95%;
        }
    }
}