.header {
    background-color: #ECECEA;
    padding: 30px 0 10px 0;

    &__wrapper {
        font-size: 20px;
        width: 85%;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;

        .logo {
            height: 100px;
        }

        .burger {
            display: none;
            width: 48px;
            height: 48px;
            background-color: white;
            border: 1px solid black;
            border-radius: 6px;

            @media screen and (max-width: 1040px) {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
            }

            &__line {
                width: 32px;
                height: 5px;
                background-color: black;
                border-radius: 3px;

                &::before {
                    content: " ";
                    width: 32px;
                    height: 5px;
                    background-color: black;
                    margin-top: 16px;
                    border-radius: 3px;
                }
        
                &::after {
                    content: " ";
                    top: 16px;
                    width: 32px;
                    height: 5px;
                    background-color: black;
                    border-radius: 3px;
                }
            }
        }

        .navigation__list {
            display: flex;
            
            @media screen and (max-width: 1040px) {
                display: none;
            }

                &-item {
                    text-transform: uppercase;
                    list-style-type: none;
                    z-index: 2;
                }
                    
                &-link {
                    color: black;
                    font-family: 'Roboto';
                    padding: 11px 32px;
                    text-decoration: none;

                    &:hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }
       }
    }
}
