.main {
    height: 100vh;

    &__wrapper {
        height: 100vh;
        position: relative;
    }

    &__title {
        font-weight: 900;
        text-transform: uppercase;
    }

    &__description {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-style: normal;
        word-wrap: break-word;
        letter-spacing: 2px;

        &-link {
            display: block;
            padding: 11px 32px;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            text-transform: uppercase;
            background-color: transparent;
            border: none;
            cursor: pointer;

            &:hover {
                border: 2px solid #292929;
            }
        }
    }

    section:nth-child(1) {
        height: calc(956px - 140px);
        padding: 20px 0 192px 0;
        background-color: #ECECEA;

        .title1 {
            position: absolute;
            top: 100px;
            left: 25%;
            color: #CFCFCD;
            font-size: clamp(40px, 10vw, 160px);
            z-index: 0;
            text-align: center;
            line-height: 160px;
            word-wrap: break-word;
            margin-bottom: 50px;
            letter-spacing: 8px;

            @media screen and (max-width: 1400px) {
                line-height: 110px;
            }

            @media screen and (max-width: 1040px) {
                left: 20%;
            }
        }
    
        .man {
            width: 990px;
            position: absolute;
            left: 38px;
            bottom: 0;
            z-index: 1;

            @media screen and (max-width: 1040px) {
                left: -10%;
                width: 624px;
            }
        }

        .para1 {
            position: absolute;
            bottom: 30%;
            right: 17%;
            width: 587px;
            z-index: 2;

            @media screen and (max-width: 1040px) {
                bottom: 10%;
                right: 10%;
                width: 363px;
                height: 370px;
            }
        } 
    }
}




