section:nth-child(5) {
    position: relative;
    height: 960px;
    background-image: url('/fitness-club/images/trainer.png');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 50%;

    @media screen and (max-width: 1600px) {
        height: 952px;
    }

    .title5 {
        position: absolute;
        top: 10%;
        left: 10%;
        color: #292929;
        font-family: Arial;
        font-size: 80px;
        font-style: normal;
        font-weight: 900;
        line-height: 160px; /* 200% */
        letter-spacing: 4px;

        @media screen and (max-width: 1600px) {
            top: 5%;
            left: 5%;
            font-size: 60px;
            line-height: 79px;
        }
    }

    .para5 {
        width: 624px;
        height: 161px;
        position: absolute;
        top: 27%;
        left: 10%;

        @media screen and (max-width: 1600px) {
            width: 399px;
            height: 312px;
            top: 20%;
            left: 5%;
        }
    }

    .block__wrapper {
        position: absolute;
        bottom: 0;
        display: grid;
        grid-template-columns: repeat(3, 320px);
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 1600px) {
            top: 75%;
            grid-template-columns: repeat(2, 476px);
        }

        &-card {
            height: 480px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            align-self: center;
        }

        .program {
            @media screen and (max-width: 1600px) {
                grid-column: 1/3;
            }
        }

        .card__title {
            color: #292929;
            text-align: center;
            font-family: Arial;
            font-size: 20px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            letter-spacing: 1px;
            margin-bottom: 52px;
        }

        .card__img {
            width: 96px;
            height: 96px;
            margin-bottom: 70px;
        }

        .card__text {
            width: 252px;
            color: #000;
            text-align: center;
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 2px;
            margin-bottom: 58px;
        }
    }
}