@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
}

#logo {
    height: 60px;
}

nav {
    background-color: #1F88D2;
}

ul {
    display: flex;
    width: 90vw;
    margin: 0 auto;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}

li {
    display: inline-block;
    color: white;
    font-family: 'Roboto';
    font-size: 20px;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

.card {
    height: 490px;
    width: 330px;
    border-radius: 10px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    font-family: 'Roboto';
}

.card:hover {
   transform: scale(1.1);
   cursor: pointer;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

h2, h2 {
    text-align: center;
}

.front {
    height: 274px;
}

button {
    background-color: #3278FF;
    border-radius: 7px;
    border: none;
    width: 141px;
    height: 34px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: #3278FF;
    border: 1px solid #3278FF;
}

/* #phone {
    position: absolute;
    right: 0;
} */


