.main__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('../images/bg-img.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110% 170%;
    filter: blur(7.5px);
    z-index: -1; 
}

.main__wrapper {
    position: relative;
    display: flex;
    z-index: 1;

    &-image {
        display: flex;
        width: 40em;
        padding: 178px 53px 0px 53px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        @media screen and (min-width: 1400px) and (max-width: 1880px) {
            display: flex;
            width: 50%;
            // padding: 176px 7px 0px 8px;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
        }
    }

    &-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 67%;
        margin-left: 142px;

        @media screen and (max-width: 1600px) {
            margin-left: 32px;
        }
    }

    .container__logo {
        width: 1090px;
        height: 121px;
        margin: 114px 50px 64px 0;

        @media screen and (max-width: 1800px) {
            margin: 48px 130px 25px 0;
            width: 540px;
            height: 60px;
        }
    }

    .container__title {
        color: #FFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
        text-transform: uppercase;
        font-family: 'Roboto';
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 3.2px;
        margin-bottom: 25px;
    }

    .container__description {
        margin: 0 0 64px 0;
        color: #FFF;
        text-align: justify;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
        font-family: 'Roboto';
        font-size: 20px;
        font-style: normal;
        line-height: normal;
        letter-spacing: 2px;
        width: 1090px;
        height: 161px;

        @media screen and (max-width: 1800px) {
            width: 564px;
            margin-bottom: 190px;
        }
    }

    .container__list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 64px;

        @media screen and (max-width: 1400px) {
            width: 540px;
        }

        &-item {
            color: #FFF;
            text-align: center;
            text-transform: uppercase;
            font-family: 'Roboto';
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            font-variant: all-small-caps;
            letter-spacing: 1.8px;
            border: 2px solid white;
            padding: 4px 24px;

            &:hover {
                cursor: pointer;
                border: 4px solid #6AECF8;
                background: #4FB5C0;
                color: #000;
            }
        }
    }

    .container__form {

        &-input {
            display: inline-flex;
            width: 292px;
            height: 48px;
            padding: 13px 34px 12px 14px;
            margin: 0 12px 12px 0;
        }

        &-area {
            display: flex;
            width: 596px;
            height: 108px;
            padding: 31px 13px;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            margin-bottom: 12px;
        }

        &-button {
            color: #FFF;
            text-align: center;
            font-family: 'Roboto';
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            font-variant: all-small-caps;
            letter-spacing: 1.8px;
            padding: 4px 24px;
            border: 2px solid white;
            background: none;

            &:hover {
                cursor: pointer;
                border: 2px solid black;
                color: black;
            }
        }
    }
}