@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url("../images/bg-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110% 170%;
  filter: blur(7.5px);
  z-index: -1;
}

.main__wrapper {
  position: relative;
  display: flex;
  z-index: 1;
}
.main__wrapper-image {
  display: flex;
  width: 40em;
  padding: 178px 53px 0px 53px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (min-width: 1400px) and (max-width: 1880px) {
  .main__wrapper-image {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
}
.main__wrapper-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 67%;
  margin-left: 142px;
}
@media screen and (max-width: 1600px) {
  .main__wrapper-container {
    margin-left: 32px;
  }
}
.main__wrapper .container__logo {
  width: 1090px;
  height: 121px;
  margin: 114px 50px 64px 0;
}
@media screen and (max-width: 1800px) {
  .main__wrapper .container__logo {
    margin: 48px 130px 25px 0;
    width: 540px;
    height: 60px;
  }
}
.main__wrapper .container__title {
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-family: "Roboto";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 3.2px;
  margin-bottom: 25px;
}
.main__wrapper .container__description {
  margin: 0 0 64px 0;
  color: #FFF;
  text-align: justify;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2px;
  width: 1090px;
  height: 161px;
}
@media screen and (max-width: 1800px) {
  .main__wrapper .container__description {
    width: 564px;
    margin-bottom: 190px;
  }
}
.main__wrapper .container__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 64px;
}
@media screen and (max-width: 1400px) {
  .main__wrapper .container__list {
    width: 540px;
  }
}
.main__wrapper .container__list-item {
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-variant: all-small-caps;
  letter-spacing: 1.8px;
  border: 2px solid white;
  padding: 4px 24px;
}
.main__wrapper .container__list-item:hover {
  cursor: pointer;
  border: 4px solid #6AECF8;
  background: #4FB5C0;
  color: #000;
}
.main__wrapper .container__form-input {
  display: inline-flex;
  width: 292px;
  height: 48px;
  padding: 13px 34px 12px 14px;
  margin: 0 12px 12px 0;
}
.main__wrapper .container__form-area {
  display: flex;
  width: 596px;
  height: 108px;
  padding: 31px 13px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 12px;
}
.main__wrapper .container__form-button {
  color: #FFF;
  text-align: center;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-variant: all-small-caps;
  letter-spacing: 1.8px;
  padding: 4px 24px;
  border: 2px solid white;
  background: none;
}
.main__wrapper .container__form-button:hover {
  cursor: pointer;
  border: 2px solid black;
  color: black;
}/*# sourceMappingURL=style.css.map */