.header {
    background-color: #ECECEA;
    padding: 30px 0 10px 0;
}

.header__wrapper {
    font-size: 20px;
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 100px;
}

.navigation__list {
    display: flex;
}

.navigation__list-item {
    text-transform: uppercase;
    list-style-type: none;
    z-index: 2;
}

.navigation__list-link {
    color: black;
    font-family: 'Roboto';
    padding: 11px 32px;
    text-decoration: none;
}

.navigation__list-link:hover {
    cursor: pointer;
    text-decoration: underline;
}