/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */

main {
    height: 100vh;
}

/* SECTIONS */
.main__wrapper {
    height: 100vh;
    position: relative;
}

section:nth-child(1) {
    height: calc(956px - 140px);
    padding: 20px 0 192px 0;
    background-color: #ECECEA;
}

section:nth-child(2) {
    position: relative;
    height: 973px;
}

section:nth-child(3) {
    background: #292929;
    position: relative;
    height: 491px;
}

section:nth-child(4) {
    background: #FF8340;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 978px;
}

section:nth-child(5) {
    position: relative;
    height: 960px;
    background-image: url('/fitness-club/images/trainer.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50%;
}

/* HEADERS */
.main__title {
    font-family: Arial;
    font-weight: 900;
    text-transform: uppercase;
}

#first {
    position: absolute;
    top: 12%;
    left: 25%;
    color: #CFCFCD;
    font-size: 160px;
    z-index: 0;
    text-align: center;
    line-height: 160px;
    word-wrap: break-word;
    margin-bottom: 50px;
    letter-spacing: 8px;
}

#second {
    position: absolute;
    top: 15%;
    left: 10%;
    z-index: 1;
    color: var(--background-3, #292929);
    font-family: Arial;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    line-height: 90px;
}

#third {
    position: absolute;
    top: 10%;
    left: 10%;
    color: #FFF;
    font-size: 80px;
    font-style: normal;
    line-height: 160px; /* 200% */
    letter-spacing: 4px;
    text-transform: uppercase;
}

#forth {
    color: #292929;
    font-size: 45px;
    font-style: normal;
    font-weight: 900;
    line-height: 160px; /* 355.556% */
    letter-spacing: 2.25px;
    text-align: center;
}

#fifth, #sixth {
    position: absolute;
    top: 10%;
    left: 10%;
    color: #292929;
    font-family: Arial;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    line-height: 160px; /* 200% */
    letter-spacing: 4px;
}

hr {
    background: #292929;
    width: 64px;
    height: 6px;
}

/* PARAGRAPHS */
.main__description {
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    word-wrap: break-word;
    letter-spacing: 2px;
}

#para1 {
    position: absolute;
    bottom: 30%;
    right: 17%;
    width: 587px;
}

#para2 {
    position: absolute;
    background: none;
    z-index: 0;
    padding: 335px 27px 105px 25px;
    top: 5%;
    left: 20%;
    width: 510px;
    border: 7px solid #FF8340;
}

/* .block {
    position: absolute;
    top: 5%;
    left: 20%;
    z-index: 1;
    border: 7px solid #FF8340;
} */


#para3 {
    position: absolute;
    color: #FFF;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
    width: 1400px;
    height: 92px;
    top: 50%;
    left: 10%;
}

#para4 {
    width: 1400px;
    font-weight: 500;
    margin-top: 60px;
}

#para5 {
    width: 624px;
    position: absolute;
    top: 30%;
    left: 10%;
}

.main__description-link {
    display: block;
    padding: 11px 32px;
    font-family: 'Roboto';
    font-size: 20px;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.link:hover {
    border: 2px solid #292929;
}

/* FORMS */
form {
    position: relative;
    height: 60%;
}

select, input {
    left: 10%;
    width: 680px;
    padding: 18px 0 17px 34px;
    margin: 20px;
    border: 2px solid #CFCFCD;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
}

textarea {
    position: absolute;
    left: 1.5%;
    bottom: 25%;
    width: 1400px;
    height: 198px;
    padding: 18px 1173px 157px 34px;
    border: 2px solid #CFCFCD;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
    right: 5%;
}

#btn3 {
    position: absolute;
    bottom: 17%;
    right: 2%;
}

select {
    color: white;
    background-color: #292929;
}

