@font-face {
    font-family: 'Arial Black';
    src: url('../fonts/Arial-Black.eot');
    src: url('../fonts/Arial-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Arial-Black.woff') format('woff'),
    url('../fonts/Arial-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }