@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
.container {
  max-width: 1920px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}
@media screen and (max-width: 1400px) {
  .container {
    padding: 0 30px;
  }
}

h1, h2, h3 {
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
}

.header {
  background-color: #ECECEA;
  padding: 30px 0 10px 0;
}
.header__wrapper {
  font-size: 20px;
  width: 85%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.header__wrapper .logo {
  height: 100px;
}
.header__wrapper .burger {
  display: none;
  width: 48px;
  height: 48px;
  background-color: white;
  border: 1px solid black;
  border-radius: 6px;
}
@media screen and (max-width: 1040px) {
  .header__wrapper .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
.header__wrapper .burger__line {
  width: 32px;
  height: 5px;
  background-color: black;
  border-radius: 3px;
}
.header__wrapper .burger__line::before {
  content: " ";
  width: 32px;
  height: 5px;
  background-color: black;
  margin-top: 16px;
  border-radius: 3px;
}
.header__wrapper .burger__line::after {
  content: " ";
  top: 16px;
  width: 32px;
  height: 5px;
  background-color: black;
  border-radius: 3px;
}
.header__wrapper .navigation__list {
  display: flex;
}
@media screen and (max-width: 1040px) {
  .header__wrapper .navigation__list {
    display: none;
  }
}
.header__wrapper .navigation__list-item {
  text-transform: uppercase;
  list-style-type: none;
  z-index: 2;
}
.header__wrapper .navigation__list-link {
  color: black;
  font-family: "Roboto";
  padding: 11px 32px;
  text-decoration: none;
}
.header__wrapper .navigation__list-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.main {
  height: 100vh;
}
.main__wrapper {
  height: 100vh;
  position: relative;
}
.main__title {
  font-weight: 900;
  text-transform: uppercase;
}
.main__description {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  word-wrap: break-word;
  letter-spacing: 2px;
}
.main__description-link {
  display: block;
  padding: 11px 32px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.main__description-link:hover {
  border: 2px solid #292929;
}
.main section:nth-child(1) {
  height: 816px;
  padding: 20px 0 192px 0;
  background-color: #ECECEA;
}
.main section:nth-child(1) .title1 {
  position: absolute;
  top: 100px;
  left: 25%;
  color: #CFCFCD;
  font-size: clamp(40px, 10vw, 160px);
  z-index: 0;
  text-align: center;
  line-height: 160px;
  word-wrap: break-word;
  margin-bottom: 50px;
  letter-spacing: 8px;
}
@media screen and (max-width: 1400px) {
  .main section:nth-child(1) .title1 {
    line-height: 110px;
  }
}
@media screen and (max-width: 1040px) {
  .main section:nth-child(1) .title1 {
    left: 20%;
  }
}
.main section:nth-child(1) .man {
  width: 990px;
  position: absolute;
  left: 38px;
  bottom: 0;
  z-index: 1;
}
@media screen and (max-width: 1040px) {
  .main section:nth-child(1) .man {
    left: -10%;
    width: 624px;
  }
}
.main section:nth-child(1) .para1 {
  position: absolute;
  bottom: 30%;
  right: 17%;
  width: 587px;
  z-index: 2;
}
@media screen and (max-width: 1040px) {
  .main section:nth-child(1) .para1 {
    bottom: 10%;
    right: 10%;
    width: 363px;
    height: 370px;
  }
}

section:nth-child(2) {
  position: relative;
  height: 973px;
}
section:nth-child(2) .info__card {
  width: 562px;
  padding: 72px 0 230px 205px;
}
section:nth-child(2) .para2 {
  position: absolute;
  background: none;
  z-index: 0;
  padding: 335px 27px 105px 25px;
  top: 5%;
  left: 20%;
  width: 510px;
  border: 7px solid #FF8340;
}
@media screen and (max-width: 1040px) {
  section:nth-child(2) .para2 {
    top: 10%;
    left: 117px;
    padding: 296px 39px 95px 26px;
  }
}
section:nth-child(2) .woman {
  position: absolute;
  width: 953px;
  height: 596px;
  right: 105px;
  bottom: 0;
}
@media screen and (max-width: 1040px) {
  section:nth-child(2) .woman {
    right: 0;
    width: 598px;
    height: 374px;
  }
}
section:nth-child(2) .title2 {
  position: absolute;
  top: 15%;
  left: 10%;
  z-index: 1;
  color: var(--background-3, #292929);
  font-size: 84px;
  font-weight: 900;
  line-height: 90px;
}
@media screen and (max-width: 1400px) {
  section:nth-child(2) .title2 {
    top: 10%;
  }
}

section:nth-child(3) {
  background: #292929;
  position: relative;
  height: 491px;
}
@media screen and (max-width: 1040px) {
  section:nth-child(3) {
    height: 357px;
  }
}
section:nth-child(3) .title3 {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 1155px;
  height: 160px;
  color: #FFF;
  font-size: 80px;
  font-style: normal;
  line-height: 160px; /* 200% */
  letter-spacing: 4px;
  text-transform: uppercase;
}
@media screen and (max-width: 1600px) {
  section:nth-child(3) .title3 {
    font-size: 60px;
    line-height: 110px;
  }
}
@media screen and (max-width: 1040px) {
  section:nth-child(3) .title3 {
    top: 5%;
    width: 867px;
  }
}
section:nth-child(3) .para3 {
  position: absolute;
  color: #FFF;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  width: 1400px;
  height: 92px;
  top: 50%;
  left: 10%;
}
@media screen and (max-width: 1600px) {
  section:nth-child(3) .para3 {
    width: 83%;
    height: 138px;
  }
}
@media screen and (max-width: 1040px) {
  section:nth-child(3) .para3 {
    bottom: 5%;
    width: 85%;
  }
}

section:nth-child(4) {
  background: #FF8340;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 978px;
}
section:nth-child(4) .title4 {
  color: #292929;
  font-size: 45px;
  font-style: normal;
  font-weight: 900;
  line-height: 160px; /* 355.556% */
  letter-spacing: 2.25px;
  text-align: center;
  color: #292929;
}
section:nth-child(4) .line {
  background: #292929;
  width: 64px;
  height: 6px;
  margin-bottom: 50px;
}
section:nth-child(4) .para4 {
  color: black;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  width: 1400px;
  height: 92px;
  margin-bottom: 30px;
}
@media screen and (max-width: 1600px) {
  section:nth-child(4) .para4 {
    width: 85%;
    margin-bottom: 80px;
  }
}
section:nth-child(4) .form__container {
  position: relative;
  height: 60%;
}
section:nth-child(4) .form__container-select {
  color: white;
  background-color: #292929;
}
section:nth-child(4) .form__container-btn {
  background: none;
  border: none;
  position: absolute;
  font-family: "Roboto";
  font-size: 20px;
  text-transform: uppercase;
  width: 214px;
  height: 45px;
  padding: 11px 0px;
  justify-content: center;
  align-items: center;
  bottom: 12%;
  right: 1%;
}
section:nth-child(4) .input {
  left: 10%;
  width: 680px;
  padding: 18px 0 17px 34px;
  margin: 20px;
  border: 2px solid #CFCFCD;
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
}
@media screen and (max-width: 1600px) {
  section:nth-child(4) .input {
    width: 434px;
  }
}
@media screen and (max-width: 1040px) {
  section:nth-child(4) .input {
    width: 370px;
    margin-bottom: 30px;
  }
}
section:nth-child(4) .feedback {
  position: absolute;
  left: 1.5%;
  bottom: 25%;
  width: 100%;
  height: 198px;
  border: 2px solid #CFCFCD;
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  right: 5%;
}
@media screen and (max-width: 1600px) {
  section:nth-child(4) .feedback {
    left: 2%;
    width: 96%;
  }
}
@media screen and (max-width: 1040px) {
  section:nth-child(4) .feedback {
    width: 95%;
  }
}

section:nth-child(5) {
  position: relative;
  height: 960px;
  background-image: url("/fitness-club/images/trainer.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 50%;
}
@media screen and (max-width: 1600px) {
  section:nth-child(5) {
    height: 952px;
  }
}
section:nth-child(5) .title5 {
  position: absolute;
  top: 10%;
  left: 10%;
  color: #292929;
  font-family: Arial;
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: 160px; /* 200% */
  letter-spacing: 4px;
}
@media screen and (max-width: 1600px) {
  section:nth-child(5) .title5 {
    top: 5%;
    left: 5%;
    font-size: 60px;
    line-height: 79px;
  }
}
section:nth-child(5) .para5 {
  width: 624px;
  height: 161px;
  position: absolute;
  top: 27%;
  left: 10%;
}
@media screen and (max-width: 1600px) {
  section:nth-child(5) .para5 {
    width: 399px;
    height: 312px;
    top: 20%;
    left: 5%;
  }
}
section:nth-child(5) .block__wrapper {
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(3, 320px);
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1600px) {
  section:nth-child(5) .block__wrapper {
    top: 75%;
    grid-template-columns: repeat(2, 476px);
  }
}
section:nth-child(5) .block__wrapper-card {
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-self: center;
}
@media screen and (max-width: 1600px) {
  section:nth-child(5) .block__wrapper .program {
    grid-column: 1/3;
  }
}
section:nth-child(5) .block__wrapper .card__title {
  color: #292929;
  text-align: center;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 1px;
  margin-bottom: 52px;
}
section:nth-child(5) .block__wrapper .card__img {
  width: 96px;
  height: 96px;
  margin-bottom: 70px;
}
section:nth-child(5) .block__wrapper .card__text {
  width: 252px;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  margin-bottom: 58px;
}/*# sourceMappingURL=style.css.map */